.questionPage {
  min-height: 100dvh;
  display: grid;
  grid-template-rows: auto 1fr;
  background: #fff;
}

.questionWrapper {
  margin-top: 80px;
}

.desktopSidebar {
  display: none;
}

.desktopHeader {
  display: none;
}

.qSection {
  padding: 1rem 1.5rem 2rem 1.5rem;
  border-bottom: 26px solid #003CFF;
  width: 100%;
  scroll-margin-top: 96px;
}

.qMeta {
  color: #000;
  font-size: 16px;
  margin: 0 0 1px 0;
}

.qTitle {
  font-size: 24px;
  line-height: 120%;
  letter-spacing: -4%;
  font-weight: 500;

}

.qSub {
  color: #666;
  font-size: 14px;
  padding-left: 0.5rem;
  margin-top: 5px;
  margin-bottom: 30px;
  font-weight: 300;
  letter-spacing: -4%;
  line-height: 100%;
}

.options {
  list-style: none;
  padding: 0;
  /* margin: 12px 0 12px 0; */
  display: grid;
  gap: 0;

}

/* Divider line between rows */
.options li+li {
  border-top: 1px solid #e5e5e5;

}

.option {
  width: 100%;
  text-align: left;
  border: none;
  padding: 12px 0;
  background: transparent;
  display: flex;
  align-items: flex-start;
  gap: 8px;
  cursor: pointer;
}

.optionSelected {
  background: #c7d3ff;
}

.optIndex {
  display: inline-block;
  padding-left: 1rem;
}

.optIndex,
.optLabel {
  color: #000;
  font-size: 16px;
  letter-spacing: -4%;
  line-height: 120%;
  font-weight: 400;
}

.actions {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
  margin-top: 16px;
}

.actionsFirst {
  grid-template-columns: 1fr;

}

.actionsLast {
  grid-template-columns: 1fr;
  gap: 12px;
}

.actionsFirst .btnPrimary {
  width: 100%;
}

.actionsLast .btnPrimary {
  order: -1;
  width: 100%;
}

.actionsLast .btnSecondary {
  width: 100%;
}



.btnPrimary {
  height: 60px;
  background: #3cff00;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #000;
  font-size: 20px;
  border: none;
  font-weight: 500;
  cursor: pointer;
}

.btnSecondary {
  height: 56px;
  background: #fff;
  border: 1px solid #000;
  font-size: 20px;
  font-weight: 500;
  color: #000;
  text-decoration: none;
  display: flex;
  /* ensure anchor behaves like the button */
  width: 100%;
  /* fill the grid cell */
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

@media (hover: hover) {
  .btnPrimary:hover {
    background-color: #2EB800;
  }
}

@media (hover: hover) {
  .btnSecondary:hover {
    background-color: #D9D9D9;
  }
}

.notice {
  color: #949494;
  text-align: center;
  margin-bottom: 4px;
  font-size: 14px;
}

@media (min-width: 744px) {
  .questionPage {
    display: block;
    position: relative;
  }


  .questionWrapper {
    flex: 1;
    margin-left: 0;
  }

  .contentArea {
    display: flex;
    min-height: 60vh;
    width: 100%;
  box-sizing: border-box;

  }


  .desktopSidebar {
    display: block;
     position: sticky; 
    left: 0;
    top: 0;
    height: calc(100vh - 85px);
    width: 241px; /* Add this to prevent shrinking */
  flex-shrink: 0;
    overflow-y: auto;
    background: #003CFF;
    align-self: flex-start;
  }

  .desktopHeader {
    display: block;
    
    top: 0;
    z-index: 10;
    background: white;
    border-top: 1px solid #003CFF;;
    border-bottom: 1px solid #003CFF;
    width: 100%;
  }


  .desktopHeader > * {
    margin-top: 0 ;
  }

  .firstDesktopHeader > * {
    margin-top: 80px ;
  }
  
  .actions {
    display: flex;
    justify-content: flex-end; 
    margin-top: 3rem;
    gap: 1rem;
  }

  .actionsFirst .btnPrimary {
  width: 300px;
}  

  .btnPrimary {
    width: 300px;
  }
  
  .btnSecondary {
    width: 200px;
  }

  .actionsLast .btnPrimary {
    order: 1;
    width: 300px;
  }

  .actionsLast .btnSecondary {
    width: 200px;
  }

  .questionWrapper {
    margin-top: 0;
  }

  .qSection {
    border-bottom: none;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex:1;
    min-width: 0; 
  }

  .notice {
    margin-top: 2rem;
    margin-bottom: -2rem;
  }
}