/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: 'Inter', sans-serif;
  line-height: 1.5;
  background-color: #003cff;
  color: white; 
  min-height: 100vh;
}

.logo {
  font-weight: 700;
  font-size: 1.5rem;
}

.hamburger {
  font-size: 2rem;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}
